<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('../partials/head') %>
    <!-- /head -->
    <title>Mi cuenta</title>
</head>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <h2>Tu cuenta</h2>
        <div id="main-login">
            <div id="form-container-login">
                <a href="/home">
                    <img src="/images/logo.png" alt="logo">
                </a>
                <form action="" method="POST" id="form-login">
                    <div class="form-control-login">
                        <input type="text" name="usuario" placeholder="Usuario" minlength="3">
                    </div>
                    <div class="form-control-login">
                        <input type="password" name="password" placeholder="Passsword" minlength="8">
                    </div>
                    <div id="button-login">
                        <button type="submit" class="button-form">enviar</button>
                    </div>
                    <div class="form-control-login">
                        <a href="/register">¿No eres miembro? Únete</a>
                    </div>
                    <div class="form-control-login-pass">
                        <a href="/recoverPassword">¿Olvidaste la contraña?</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>