<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('../partials/head') %>
    <!-- /head -->
    <title>Mi cuenta</title>
</head>
<body>
    <!-- header --> 
    <%- include('../partials/header', {selected: ''}) %>
    <!-- /header --> 
    <main>
        <h2>Recuperar contraseña</h2>
        <div id="main-login">
            <div id="form-container-login">
                <a href="/home">
                    <img src="/images/logo.png" alt="logo">
                </a>
                <form action="" method="POST" id="form-login">
                    <div class="form-control-login">
                        <input type="text" name="usuario" placeholder="Usuario" minlength="3">
                    </div>
                    <div id="button-recover">
                        <button type="submit" class="button-form">recuperar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- footer --> 
    <%- include('../partials/footer') %>
    <!-- /footer --> 
</body>
</html>