:root {
    --verde: #1AE51A;
    --fondoOscuro: #0C0C0C;
    --grisClaro: #D3D3D3;

    --fuentePrincipal: 'Oswald', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: var(--fuentePrincipal);
    background-color: var(--grisClaro);
}

*, *:before, *:after {
    box-sizing: inherit;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--fondoOscuro);
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.header-logo{
    width: 33%;
}

.header-logo img{
    width: 75%;
    padding: 20px;
    /* animation: rotacion 3s infinite alternate; */
}

/* @keyframes rotacion {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

.header-nav{
    display: none;
}

.header-nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all .5s;
}

.header-nav ul li a:hover{
    color: var(--verde);
}

.header-nav ul{
    display: flex;
    padding: 10px 0;
    align-items: flex-end;
}

header form {
    position: relative;
    display: flex;
    align-content: flex-end;
    padding: 10px 0;
}

.header-icons {
    color: white;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-icons a {
    color: white;
}

.header-icons .fa-shopping-cart, .fa-user{
    margin-right: 10px;
    transition: all .5s;
}

.header-icons .fa-shopping-cart:hover,.fa-user:hover{
    color: var(--verde);
}

.burger-menu{
    text-align: center;
    width: 100%;
}

.fa-bars{
    background-color: var(--verde);
    padding: 10px;
    border-radius: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 10px;
}

main{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.banner-img img{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.banner-buttons{
    text-align: center;
}

.articulos{
    padding: 10px;
}

.titular{
    width: 100%;
    font-size: 4rem;
    padding-bottom: 15px;
}

.articulo{
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    transition: all 500ms;
    font-size: 2rem;
    text-align: left;
}

.articulo:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.articulo img{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb;
}

.articulo a{
    color: black;
}

/* .producto{
    
} */

.producto-img{
    width: 100%;
    background-color: white;
    padding: 20px;
}

.producto img{
    width: 100%;
    padding: 20px;
}

.producto-descripcion{
    width: 100%;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    font-size: 2rem;
}

.producto-descripcion div, .producto-descripcion form,.producto-descripcion button{
    padding: 15px 30px;
}

.producto-info, .producto-descripcion form{
    text-align: left;
    padding:0 30px;
}

.form-talla{
    display: flex;
    justify-content: center;
}

.form-talla h3{
    width: 100%;
    margin: 10px 0;
}

.talla-button{
    width: 90%;
    margin: 10px;
    background-color: var(--fondoOscuro);
    color: white;
    padding: 10px 50px;
    border: var(--verde) 2px solid;
    border-radius: 6%; 
    text-align: center;
}

.talla-button, .talla-button .mediana, .talla-button .grande{
    transition: all 0.5s;
}

.talla-button input:checked+label{
    background-color: var(--verde);
    color: black;
    border: var(--fondoOscuro) 2px solid;
}

.talla-button input{
    display: none;
}

.añadir-carrito-button{
    background-color: var(--fondoOscuro);
    color: white;
    border: var(--verde) 2px solid;
    border-radius: 6%;
    transition: all 0.5s;
}

.añadir-carrito-button:focus{
    background-color: var(--verde);
    color: var(--fondoOscuro);
    border: var(--fondoOscuro) 2px solid
}

.añadir-carrito-button i{
    color: var(--verde);
    transition: all 0.5s;
}

.añadir-carrito-button:focus i{
    color: var(--fondoOscuro);
}

footer{
    background-color: var(--fondoOscuro);
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 7px;
}

footer a{
    color: white;
    text-decoration: none;
}

.footer-logo{
    width: 33%;
}

.footer-logo img{
    width: 75%;
    padding: 20px;
}

.footer-nav{
    display: flex;
    align-content: center;
}

.footer-nav ul{
    margin: 10px;
}

.footer-nav .footer-nav-a1, .footer-nav-a2, .footer-nav-a3, .footer-nav-a4, .footer-nav-a5, .footer-nav-a6{
    transition: all .5s;
}

.footer-nav .footer-nav-a1:hover, .footer-nav-a2:hover, .footer-nav-a3:hover, .footer-nav-a4:hover, .footer-nav-a5:hover, .footer-nav-a6:hover{
    color: var(--verde);
}

.social-media{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.social-media p{
    margin: 10px 0;
}

.footer-icons{
    margin-bottom: 10px;
}

.social-media .footer-icons .iconFb, .iconInsta, .iconTw, .iconYt{
    transition: all .5s;
}

.social-media .footer-icons .iconFb:hover, .iconInsta:hover, .iconTw:hover, .iconYt:hover{
    color: var(--verde);
}

.copyright{
    padding: 10px;
    margin: 10px 0 15px 0;
    width: 100%;
    text-align: center;
}

/* login.html */
#form-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#form-login-container img {
    width: 5%;
    margin: 15px;
}

#join-login, #password-login {
    margin-bottom: 15px;
}

#join-login a {
    font-size: 1.0em;
    color: var(--verde);
    text-decoration: none;
}

#join-login a:hover {
    color: white;
} 

#password-login a {
    font-size: 0.5em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#img-login img {
    width: 25%;
}

.form-control h3 {
    font-size: 2em;
}

.form-control-input {
    width: 25%;
}

.form-control-input input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 7.5px;
}

.form-control button {
    font-size: 1em;
    padding: 4px 7.5px 4px 7.5px; 
    border-radius: 3px;
    background-color: var(--verde);
    margin-bottom: 8px;
}
/* login.html */

/* register.html */
#form-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-register-container img {
    width: 5%;
    margin: 15px;
}

#form-register-container h3, #form-register-container h4 {
    text-align: center;
}

#form-register-container h3 {
    font-size: 2em;
}

#form-register-container h4 {
    font-size: 1.5em;
}

#genero-usuario {
    width: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

#genero-usuario label {
    font-size: 2em;
}

#promociones {
    width: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#promociones label {
    font-size: 1.5em;
}

#login-text a {
    color: var(--verde);
    text-decoration: none;
    font-size: 1.5em;
} 

#login-text a:hover {
    color: white;
} 

#login-text {
    margin-bottom: 15px;
}

/* register.html */


@media (min-width: 480px) {
    .header-icons{
        position: static;
    }

    /* login.html */
    .form-login-container img {
        width: 7%;
    }

    .form-control button {
        font-size: 2em;
        padding: 8px 15px 8px 15px; 
        border-radius: 3px;
        background-color: var(--verde);
        margin-bottom: 10px;
    }

    #join-login a {
        font-size: 1.5em;
    }
    
    #password-login a {
        font-size: 1.0em;
    }

    /* login.html */

    /* register.html */
    #form-register-container img {
        width: 7%;
    }
    /* register.html */
}

@media (min-width: 768px) {
    .header-logo, .footer-logo{
        width: 15%;
    }    
    .header-nav{
        display: flex;
        align-content: flex-end;
    }
    .burger-menu{
        display: none;
    }
    .articulos{
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }
    .articulo{
        width: 30%;
    }
    .talla-button{
        width: 30%;
        justify-content: space-around;
    }
    footer{
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    .producto{
        display: flex;
        justify-content: space-around;
        background-color: white;
    }
    .producto-descripcion{
        border-left: 1px solid #ebebeb;
    }
    .producto-img, .producto-descripcion{
        width: 45%;
    }
    .talla-button{
        width: 25%;
    }
}