*, *:before, *:after {
    box-sizing: inherit;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

:root {
    --verde: #1AE51A;
    --fondoOscuro: #0C0C0C;
    --grisClaro: #D3D3D3;

    --fuentePrincipal: 'Oswald', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: var(--fuentePrincipal);
    background-color: var(--grisClaro);
}

header {
    background-color: var(--fondoOscuro);
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.header-logo{
    width: 33%;
}

.header-logo img{
    width: 75%;
    padding: 20px;
    /* animation: rotacion 3s infinite alternate; */
}

/* @keyframes rotacion {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

.header-nav {
    display: none;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all .5s;
}

.header-nav ul li a:hover{
    color: var(--verde);
    border-bottom: 2px solid white;
}

.header-nav ul{
    display: flex;
    padding-bottom: 35px;
    align-items: flex-end;
}

.header-nav li {
    margin-left: 20px;
}

header form {
    position: relative;
    display: flex;
    align-content: flex-end;
    padding: 10px 0;
}

.header-icons {
    color: white;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-icons a {
    color: white;
}

.header-icons .fa-shopping-cart, .fa-user{
    margin-right: 10px;
    transition: all .5s;
}

.header-icons .fa-shopping-cart:hover,.fa-user:hover{
    color: var(--verde);
}

.burger-menu{
    text-align: center;
    width: 100%;
}

.fa-bars{
    background-color: var(--verde);
    padding: 10px;
    border-radius: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 10px;
}

main{
    text-align: center;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.banner-img img{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.banner-buttons{
    text-align: center;
}

.articulos{
    padding: 10px;
}

.titular{
    width: 100%;
    font-size: 4rem;
    padding-bottom: 15px;
}

.articulo {
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    transition: all 500ms;
    font-size: 2rem;
    text-align: left;    
    margin-top: 15px;
    margin-bottom: 15px;
}

.articulo:hover {
    border: 1px solid var(--verde); 
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.articulo img{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb;
}

.articulo a{
    color: black;
}

.producto-img {
    width: 100%;
    background-color: white;
    padding: 20px;
}

.producto img {
    width: 100%;
    padding: 20px;
}

.producto img:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid var(--verde);
}

.producto-descripcion {
    width: 100%;
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 20px 0;
    font-size: 2rem;
}

.producto-descripcion div, .producto-descripcion form, .producto-descripcion button{
    padding: 15px 30px;
}

.producto-info, .producto-descripcion form {
    text-align: left;
    padding:0 30px;
}

.form-talla {
    display: flex;
    justify-content: center;
}

.form-talla h3{
    width: 100%;
    margin: 10px 0;
}

.talla-button {
    width: 100%;
    margin: 10px;
    background-color: var(--fondoOscuro);
    color: white;
    padding: 10px 50px;
    border: var(--verde) 2px solid;
    border-radius: 6%; 
    text-align: left;
}

.talla-button, .talla-button .mediana, .talla-button .grande {
    text-align: center;
    transition: all 0.5s;
}

.talla-button input:checked+label{
    background-color: var(--verde);
    color: black;
    border: var(--fondoOscuro) 2px solid;
}

.talla-button input{
    display: none;
}



.añadir-carrito-button{
    background-color: var(--fondoOscuro);
    color: white;
    border: var(--verde) 2px solid;
    border-radius: 6%;
    transition: all 0.5s;
}

.añadir-carrito-button:focus{
    background-color: var(--verde);
    color: var(--fondoOscuro);
    border: var(--fondoOscuro) 2px solid
}

.añadir-carrito-button i{
    color: var(--verde);
    transition: all 0.5s;
}

.añadir-carrito-button:focus i{
    color: var(--fondoOscuro);
}

footer{
    background-color: var(--fondoOscuro);
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 7px;
}

footer a{
    color: white;
    text-decoration: none;
}

.footer-logo{
    width: 33%;
}

.footer-logo img{
    width: 75%;
    padding: 20px;
}

.footer-nav{
    display: flex;
    align-content: center;
}

.footer-nav ul{
    margin: 10px;
}

.footer-nav .footer-nav-a1, .footer-nav-a2, .footer-nav-a3, .footer-nav-a4, .footer-nav-a5, .footer-nav-a6{
    transition: all .5s;
}

.footer-nav .footer-nav-a1:hover, .footer-nav-a2:hover, .footer-nav-a3:hover, .footer-nav-a4:hover, .footer-nav-a5:hover, .footer-nav-a6:hover{
    color: var(--verde);
}

.social-media {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.social-media p { 
    margin: 10px 0;
}

.footer-icons{
    margin-bottom: 10px;
}

.social-media .footer-icons .iconFb, .iconInsta, .iconTw, .iconYt {
    transition: all .5s;
}

.social-media .footer-icons .iconFb:hover, .iconInsta:hover, .iconTw:hover, .iconYt:hover {
    color: var(--verde);
}

.copyright{
    padding: 10px;
    margin: 10px 0 15px 0;
    width: 100%;
    text-align: center;
}

/* form-register/form-login */
#main-register, #main-login {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#form-register, #form-login {
    padding: 30px;
}

#form-container-register, #form-container-login {
    width: 35%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#form-container-register img, #form-container-login img {
    width: 25%;
}

#profile-radiobox-register {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 10px;
}

#button-register {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#button-login {
    text-align: center;
}

#button-register button, #button-login button {
    width: 75px;
    padding: 5px 5px;
    color: rgb(0, 0, 0);
    background-color: var(--verde);
    border-radius: 10px;
    font-size: 17.5px;
}

#button-recover button {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    background-color: var(--verde);
    border-radius: 10px;
    font-size: 17.5px;
}

#button-register button:hover, #button-login button:hover, #button-recover button:hover {
    background-color: rgb(32, 207, 77);
    color: rgb(255, 255, 255);
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.title-register {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: bolder;
}

.form-control-register, .form-control-login {
    margin-bottom: 15px;
}

.form-control-login {
    margin-top: 15px;
}

.form-control-register label {
    display: block;
}

.form-control-register a, .form-control-login a {
    font-weight: bold;
    font-size: 1.2em;
    margin: 15px;
    color: var(--verde);
}

#form-control-register-checkbox {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.form-control-register input, .form-control-register textarea, .form-control-login input {
    width: 95%;
    padding: 5px;
    resize: none;
}

.form-control-register a:hover, .form-control-login a:hover {
    color: rgb(0, 0, 0);
}

.form-control-register input:invalid, .form-control-register textarea:invalid, .form-control-login input:invalid {
    border: 3px solid rgb(255, 0, 0);
}

.form-control-check-register label {
    display: block;
    margin-bottom: 15px;
}

.form-control-login-pass a {
    font-size: 1.2em;
    color: rgb(205, 205, 205);
}

.form-control-login-pass a:hover {
    color: rgb(0, 0, 0);
}
/* form-register/form-login */

/* form-create */
.titles-create-product {
    text-align: left;
} 

.form-control-create {
    margin-bottom: 15px;
}

#form-control-create-select {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
}

.form-control-create input, .form-control-create textarea {
    width: 95%;
    padding: 5px;
    resize: none;
}

#img-title-create-product {
    text-align: left;
    margin-bottom: 15px;
}
/* form-create */


/*carrito de compras*/
.productoscomprados{
    font-size: 30px;
}

.producto-nombre {
    text-align: left;
}

.precio {
    padding-top: 15px;
    font-size:30px;
}
.cantidad{
    font-size:30px;
    margin-left: 20%;
}
.total-de-compra{
    font-size: 30px;
    margin-left: 20%;
}


main section i{
    width: 100px;
}
article h4{
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
    color:rgb(0, 0, 0)
}
article .producto-añadido img{
   
    display: flex;
        justify-content: left;
        width: 10%;
        padding: 5px;
        margin-left: 10% ;
}


/*carrito de compras*/

@media (max-width: 942px) {
    .header-icons{
        position: static;
    }

    /* form-register/form-login */
    #main-register {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    main h2 {
        font-size: 1.75em;
        font-weight: bold;
        text-align: center;
    }

    .title-register {
        font-size: 1.2em;
    }

    .form-control-register input, .form-control-register textarea, .form-control-login input {
        width: 97%;
    }

    #profile-radiobox-register {
        font-size: 1em;
    }

    #form-container-register, #form-container-login {
        width: 100%;
    }

    #button-register button, #button-login button {
        padding: 2px 1px;
        font-size: 1.2em;
        width: 75px;
    }
    /* form-register/form-login */
}

@media (min-width: 942px) {
    .header-logo, .footer-logo{
        width: 15%;
    }    
    .header-nav{
        display: flex;
        align-content: flex-end;
    }
    .burger-menu{
        display: none;
    }
    .articulos {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }
    .articulo {
        width: 42%;
    }
    .talla-button{
        width: 30%;
        justify-content: space-around;
    }
    footer{
        padding: 5px;
    }
    
}

@media (min-width: 1200px) {
    header {
        font-size: 3rem;
    }
    #carrito {
        margin-top: 40%;
    }
    .articulo {
        width: 21%;
    }
    .producto {
        display: flex;
        justify-content: space-around;
        background-color: white;
    }
    .producto-descripcion {
        border-left: 1px solid #ebebeb;
    }
    .producto-img, .producto-descripcion {
        width: 45%;
    }
    .talla-button {
        width: 25%;
    }
}