<div class="articulo">
    <a href="/product/detail/<%= product.product_id %>">
        <img src="/images/img-products/<%= product.img %>" alt="producto-prueba">
        <h4> <%= product.name %> </h4>
        <p> $ <%= toThousand(product.price) %> </p>
    </a> 
</div>