<div class="articulo">
    <a href="detalleProducto">
        <img src="/images/producto-prueba.jpg" alt="producto-prueba">
        <h4> <%= producto.nombre %> </h4>
        <p> <%= producto.precio %> </p>
    </a> 
</div>