<div class="articulo">
    <a href="/detalleProducto/<%= product.id %>">
        <img src="/images/<%= product.img %>" alt="producto-prueba">
        <h4> <%= product.name %> </h4>
        <p> <%= product.price %> </p>
    </a> 
</div>