<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>DH-Clothes</title>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <section class="Carrito de Compras">
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
                <h1>Tu Carrito</h1>
                
                <article>
                <span class="productoscomprados">
                        <span>Productos</span>
                </span>
                
                    <span class="precio">
                        <span>precio</span>
                    </span>
                    <span class="cantidad"> 
                    <span>Cantidad</span>
                    </span>
                    <span class="total-de-compra">
                    <span>Total</span>
                    </span>
                    
                    <p>Aun no tienes articulos seleccionados</p>
                    
                </article>
            </section> 
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>