<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('./partials/head') %>
    <!-- /head -->
    <title>DH-Clothes</title>
</head>
<body>
    <!-- header --> 
    <%- include('./partials/header', {selected: ''}) %>
    <!-- /header --> 
    <main>
       
        <div class="titlog">
            <i class="fas fa-shopping-cart"></i>
            <h1 class="tit">    Tu carrito     </h1>
        </div>

        <div class="enc1">
            <div class="prod">Productos </div>
            <div class="prec">Precio </div>
            <div class="cant">Cantidad </div>
            <div class="tot" >Total</div>
        </div>
        <hr class="grunder">
        <div class="prod2">
            <img src="/images/imagenprueba.png" alt="imagenprueba">
            <input type="number" name="cantidad">
        </div>
        <div class="pago">
            <p>Cantidad de articulos</p> 
            <div>Total</div> 
            <button>Pagar</button> 
        </div>
        <div class="return1">
            <div class="return2"> 
            <a style="color:black",  href="home">
                <i class="fas fa-arrow-left" >   
                    Seguir Comprando
                </i>
            </a> 
        </div>
        </div>
    </main>

            
    </main>
    <!-- footer --> 
    <%- include('./partials/footer') %>
    <!-- /footer --> 
</body>
</html>