<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('./partials/head') %>
    <!-- /head -->
    <title>DH-Clothes</title>
</head>
<body>
    <!-- header --> 
    <%- include('./partials/header') %>
    <!-- /header --> 
    <main>
        <section class="logo-carrito">
            <div class="carrito-logo">
                <i class="fas fa-shopping-cart"></i>
                </div>
                <h1>Tu Carrito</h1>
                
                <article>
                <span class="productoscomprados">
                        <span>Productos</span>
                </span>
                
                    <span class="precio">
                        <span>Precio</span>
                    </span>
                    <span class="cantidad"> 
                    <span>Cantidad</span>
                    </span>
                    <span class="total-de-compra">
                    <span>Total</span>
                    </span>
                    <hr>
                    <article class="producto-añadido">
                    <a href="/producto">
                        <img src="/images/producto-prueba.jpg" alt="producto-prueba">
                        <h4>Playera Node JS</h4>
                        </a>
                        
                </article>
               
                <section class="cantidades">
                <input type="number" name="cantidad">
                </section>
                <p>aun no es full responsive</p>
                
                
                </section>

            </section> 
    </main>
    <!-- footer --> 
    <%- include('./partials/footer') %>
    <!-- /footer --> 
</body>
</html>