<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('./partials/head') %>
    <!-- /head -->
    <title>Mi cuenta</title>
</head>
<body>
    <!-- header --> 
    <%- include('./partials/header') %>
    <!-- /header --> 
    <main>
        <h2>Registrar producto</h2>
        <div id="main-register">
            <div id="form-container-register">
                <form action="/product/create" method="POST" id="form-register">
                    <div class="form-control-create">
                        <input type="text" name="name" placeholder="Nombre del producto" minlength="5">
                    </div>
                    <div class="form-control-create">
                        <input type="text" name="price" placeholder="Precio">
                    </div>
                    <div class="form-control-create">
                        <textarea type="text" name="description" placeholder="Descripción" minlength="5"></textarea>
                    </div>
                    <h3 class="titles-create-product">Categoria</h3>
                    <div id="form-control-create-select"> 
                        <select name="category">
                            <option value="male" selected="selected">Hombre</option>
                            <option value="femlae" >Mujer</option>
                            <option value="kid" >Niño</option>
                        </select>
                    </div>
                    <div class="form-control-create">
                        <h3 id="img-title-create-product">Sube imagen para el producto</h3>
                        <input type="file" name="img">
                    </div>
                    <div id="button-register">
                        <button type="submit">enviar</button>
                        <button type="reset">borrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- footer --> 
    <%- include('./partials/footer') %>
    <!-- /footer --> 
</body>
</html>